html, body {
    margin: 0;
    position: relative;
    @media (max-width: 740px) {
        & {
            background: black;
        }
    }
    
    .mq-message {
        text-align: center;
        border: 2px solid red;
        margin: 10px;
        display: none;
        @media ( max-width: 740px ) {  
            & {
                display: block;
            }
        }
        p {
            color: yellow;
            font-size: 2em;
            text-transform: uppercase;
        }
    }
    
    .glass-lamp {
        background: url(../img/lamp.svg) no-repeat top center;
        width: 100%;
        height: 100vh;
        outline: 1px solid green;
        position: absolute;
        &.black {
            background-color: #000000;
        }
        &.kelv-1000 {
            background-color: #ff1900;
        }
        &.kelv-2000 {
            background-color: #ffad08;
        }
        &.kelv-3000 {
            background-color: #ffef62;
        }
        &.kelv-4000 {
            background-color: #f2ffaa;
        }
        &.kelv-5000 {
            background-color: #d6ffef;
        }
        &.kelv-6000 {
            background-color: #bdffff;
        }
        &.kelv-7000 {
            background-color: #a5ffff;
        }
        &.kelv-8000 {
            background-color: #91ecff;
        }
        &.kelv-9000 {
            background-color: #7ed9ff;
        }
        &.kelv-10000 {
            background-color: #73ceff;
        }

        @media (max-width: 760px) {
            & {
                background-position-x: 200px; 
            }    
        }
        @media (max-width: 745px) {
            & {
                background-position-x: 150px;
            }
        }
        @media (max-width: 740px) {
            & {
                display: none;
            }
        }
    }
    .container {
        position: absolute;
        @media (max-width: 740px) {
            & {
                display: none;
            }
        }
        .light-sensors-panel {
            padding: 10px;
            box-sizing: border-box;
            color: cyan;
            background: #000;
            .status-value {
                .status {
                    text-transform: uppercase;
                }
            }
        }
        .controller {
            background: url(../img/light_controll.svg) no-repeat left center;
            width: 200px;
            height: 400px;
            margin: 10px;
            position: initial;
            .info-pic {
                width: 0px;
                height: 400px;
                position: absolute;
                left: 175px;
                &:hover {
                    background: url(../img/o_edinicax_izmereniya.jpg) left center no-repeat;
                    width: 432px;
                }
                .fa-info-circle {
                    color: cyan;
                    position: absolute;
                    font-size: 1.5em;
                    cursor: pointer;
                    top: 320px;
                    left: -92px;
                }
            }

            button {
                position: absolute;
                border: none;
                background: transparent;
                font-size: 1.5em;
            }
            button.kel-up {
                top: 141px;
                left: 79px;
                cursor: pointer;
            }
            button.kel-down {
                top: 227px;
                left: 79px;
                cursor: pointer;
            }
            button.power-up {
                top: 184px;
                left: 119px;
                cursor: pointer;
            }
            button.power-down {
                top: 184px;
                left: 33px;
                cursor: pointer;
            }
            button.power-button {
                top: 60px;
                left: 74px;
                cursor: pointer;
            }
        }
    }
}
